.query {
    display: flex;
    flex-wrap: wrap
}

.queryHeader {
    position: relative;
    position: sticky;
    top: 0;
    width: 100%;
    background: var(--pbg);
    color: var(--tc);
    opacity: .9
}

.queryHeader h3 {
    overflow: hidden;
    width: calc(100% - 500px);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 22px
}

.queryHeader .queryOther {
    position: absolute;
    top: 0;
    right: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    cursor: pointer
}

.queryHeader .queryOther:hover {
    color: var(--hover)
}

.queryHeader p {
    margin: 10px auto;
    font-size: 16px
}

.queryHeader p span+span {
    position: relative;
    display: inline-block;
    margin-left: 12px
}

.queryHeader p span+span:before {
    position: absolute;
    top: 20%;
    left: -7px;
    width: 2px;
    height: 70%;
    background: #999;
    content: "";
    pointer-events: none
}

.queryLeft, .queryRight {
    width: 50%;
    height: 100%;
    font-size: 16px
}

.queryLeft {
    display: flex;
    padding-right: 5px;
    flex-wrap: wrap
}

.queryRight {
    padding-left: 10px
}

.LeftAttack, .RightDefense {
    padding-right: 5px;
    width: 50%
}

.RightDefense {
    padding-left: 5px
}

.LeftAttack .InfoHeader {
    background: var(--c4);
    color: var(--c4tc)
}

.InfoHeader {
    margin-bottom: 5px;
    padding: 50px 0;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 1.2em
}

.RightDefense .InfoHeader {
    background: var(--c5);
    color: var(--c5tc)
}

.InfoItem {
    display: flex;
    margin: 3px auto;
    padding: 15px;
    border-radius: 5px;
    background: var(--c2);
    color: var(--c2tc);
    justify-content: space-between
}

.RightDefense .InfoItem {
    background: var(--c3);
    color: var(--c3tc)
}

.InfoItem span {
    line-height: 100%
}

.weapon {
    display: flex;
    margin-bottom: 10px;
    padding: 20px 15px;
    width: calc(100% - 5px);
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    justify-content: space-between
}

.weapon, .zbItem {
    background: var(--c1);
    color: var(--c1tc)
}

.zbItem {
    display: inline-block;
    overflow: hidden;
    margin-top: 5px;
    padding: 13px 0;
    border-radius: 5px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap
}

.zbItem:nth-child(2n) {
    margin-right: 5px;
    width: calc(50% - 5px)
}

.zbItem:nth-child(odd) {
    margin-left: 5px;
    width: calc(50% - 10px)
}

.zbFooter {
    display: flex;
    margin-top: 10px
}

.bg {
    position: relative;
    display: inline-block;
    width: 128px;
    height: 128px
}

.bg img {
    position: absolute
}

.bg img:first-child {
    top: 0;
    left: 32px
}

.bg img:nth-child(2) {
    top: 0;
    left: 64px
}

.bg img:nth-child(3) {
    top: 32px;
    left: 64px
}

.bg img:nth-child(4) {
    top: 64px;
    left: 64px
}

.bg img:nth-child(5) {
    top: 64px;
    left: 32px
}

.bg img:nth-child(6) {
    top: 64px;
    left: 0
}

.bg img:nth-child(7) {
    top: 32px;
    left: 0
}

.bg img:nth-child(8) {
    top: 0;
    left: 0
}

.enchant {
    display: inline-block;
    width: calc(100% - 128px)
}

.search {
    width: 100%;
    margin-top: 20vh;
    text-align: center
}

.search input {
    box-sizing: border-box;
    padding: 0 65px 0 10px;
    width: 50%;
    height: 40px;
    outline: 0;
    border: 2px solid #000;
    border-radius: 6px;
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    line-height: 50px
}

.search svg {
    width: 50px;
    height: 29px;
    border-left: 2px solid #000;
    cursor: pointer;
    margin-left: -60px;
    margin-top: -3px;
    z-index: 1000
}

@media screen and (max-width:900px) {
    .queryHeader h3 {
        width: calc(100% - 100px);
        font-size: 16px
    }
    .queryHeader .queryOther {
        font-size: 12px
    }
    .queryHeader p {
        margin: 10px auto;
        font-size: 14px
    }
    .queryLeft, .queryRight {
        width: 100%;
        font-size: 14px
    }
    .queryRight {
        margin-top: 10px;
        padding-left: 0
    }
    .weapon {
        font-weight: 500;
        font-size: 16px
    }
    .InfoHeader {
        padding: 30px 0
    }
    .InfoItem {
        padding: 10px 15px
    }
    .zbItem {
        padding: 10px 0
    }
    .bg {
        width: 64px;
        height: 64px
    }
    .bg img {
        width: 32px
    }
    .bg img:first-child {
        top: 0;
        left: 16px
    }
    .bg img:nth-child(2) {
        top: 0;
        left: 32px
    }
    .bg img:nth-child(3) {
        top: 16px;
        left: 32px
    }
    .bg img:nth-child(4) {
        top: 32px;
        left: 32px
    }
    .bg img:nth-child(5) {
        top: 32px;
        left: 16px
    }
    .bg img:nth-child(6) {
        top: 32px;
        left: 0
    }
    .bg img:nth-child(7) {
        top: 16px;
        left: 0
    }
    .bg img:nth-child(8) {
        top: 0;
        left: 0
    }
    .enchant {
        margin-left: 20px;
        width: calc(50% - 32px)
    }
    .enchant img {
        width: 32px
    }
    .search input {
        box-sizing: border-box;
        padding: 0 65px 0 10px;
        width: 80%;
        height: 35px;
        outline: 0;
        border: 1px solid #000;
        border-radius: 6px;
        text-align: left;
        font-weight: 600;
        font-size: 16px;
        line-height: 40px
    }
    .search svg {
        width: 50px;
        height: 29px;
        border-left: 1px solid #000;
        cursor: pointer;
        margin-left: -55px;
        margin-top: -2px;
        z-index: 1000
    }
}