.home {
    position: relative;
    height: 100%;
    text-align: center
}

.title {
    margin-bottom: 100px
}

.title, button {
    color: var(--tc)
}

button {
    display: inline-block;
    overflow: hidden;
    padding: 5px 10px;
    width: 100px;
    height: 35px;
    background: var(--bg);
    border: 0;
    border-radius: 5px;
    text-transform: capitalize;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 1.2em;
    cursor: pointer;
    -webkit-animation: ColorChange .5s;
    animation: ColorChange .5s
}

button:hover {
    background: var(--hover)
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0
}

hr {
    border: 0;
    height: 1px;
    background: #999;
    margin-bottom: 20px
}

h6, ol {
    color: #999
}

ol {
    list-style-type: decimal-leading-zero;
    width: 80%;
    margin-left: 10%;
    text-align: left;
    font-size: 12px
}